@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import "./styles/variables.scss";
@import "./styles/breakpoints.scss";
@import "./styles/components.scss";
@import "./styles/pages.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  user-select: none;
  background: $white;
  overscroll-behavior: none;
  margin: 0;
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1480px;
  padding: 0 32px;
  margin: 0 auto;
  height: 100%;

  @include media("<=1560px") {
    max-width: 1340px;
  }

  @include media("<=desktop") {
    max-width: 1100px;
  }

  @include media("<=1080px") {
    padding: 0 72px;
  }

  @include media("<=700px") {
    padding: 0 24px;
  }
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  height: 100%;
}

.cursor {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: #e7dede;
  border-radius: 100%;
  pointer-events: none;
}
